.contact {
  display: none;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 480px) {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    color: $secondary-color;
    fill: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
