.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      gap: 88px;
    }

    @media screen and (min-width: $desktop) {
      gap: 93px;
    }
  }

  &__burger-menu {
    padding: 10px 0;
    border: none;
    background-color: $white-color;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}
