.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  transition-property: opacity, visibility;
  transition-duration: 250ms;

  background-color: $background-backdrop-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: calc(100% - 30px);

  background-color: $white-color;
  overflow-y: scroll;

  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background-color: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: currentColor;

    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $accent-color;
    }
  }

  &__title {
    width: calc(100% - 80px);
    margin: 40px auto 12px;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    @media screen and (min-width: $mobile) {
      width: 370px;
    }

    @media screen and (min-width: $desktop) {
      width: 448px;
    }
  }
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;

  &__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    color: $secondary-color;
  }

  &__field {
    position: relative;
    margin-bottom: 10px;
  }

  &__input {
    padding: 12px 12px 12px 42px;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $accent-color;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__field:focus-within &__icon {
    fill: $accent-color;
  }
  &__textarea {
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $accent-color;
    }
  }
}

/* Checkbox */
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;

  &__input {
    appearance: none;

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    border: 2px solid $primary-color;
    border-radius: 2px;

    fill: $white-color;

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $desktop) {
      left: 13px;
    }
  }

  &__input:checked + &__icon {
    border: none;
    background-color: $accent-color;
  }

  &__label {
    padding-left: 24px;

    font-size: 12px;
    line-height: 1.5;
    color: $secondary-color;

    @media screen and (min-width: $desktop) {
      padding-left: 36px;
      font-size: 14px;
    }
  }

  &__text {
    text-decoration-line: underline;
    color: $accent-color;
  }
}
