.portfolio__menu {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin: 0 auto 50px;

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

// Product

.product {
  text-decoration: none;

  &__image {
    position: relative;
    overflow: hidden;
    width: 450px;

    @media screen and (min-width: $tablet) {
      width: 354px;
    }

    @media screen and (min-width: $desktop) {
      width: 370px;
    }
  }

  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: $white-color;
    background-color: $background-color-potfolio-card;

    .product__content:hover & {
      transform: translateY(0%);
    }
  }
  &__content {
    .product & {
      transition-property: box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .product:hover &,
    .product:focus & {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__text {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-color;
  }

  &__subtitle {
    color: $secondary-color;
    line-height: 1.87;
    text-decoration: none;
  }
}
