.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    flex-basis: calc((100% - 90px) / 4);
    gap: 30px;
  }

  &__item {
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: $white-color;
  }

  &__descr {
    padding-top: 30px;
    padding-bottom: 16px;
  }

  &__name {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: inherit;
    line-height: 1.18;
  }

  &__position {
    text-align: center;
    color: $secondary-color;
    line-height: 1.18;
  }
}
