.work {
  display: none;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
    gap: 30px;
  }

  &__image {
    position: relative;
  }

  &__description {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    color: $white-color;
    background-color: $backgound-additional-color;
  }
}
