$primary-color: #212121;
$secondary-color: #757575;
$logo-color: #000000;
$accent-color: #2196f3;
$white-color: #ffffff;
$address-contact-color: rgba(255, 255, 255, 0.6);
$color-icon: #afb1b8;

$backgroud-primary-color: #2f303a;
$background-secondary-color: #f5f4fa;
$background-button-color: #188ce8;
$background-icon-color: rgba(255, 255, 255, 0.1);
$backgound-additional-color: rgba(47, 48, 58, 0.8);
$background-backdrop-color: rgba(0, 0, 0, 0.2);
$background-color-potfolio-card: rgba(33, 150, 243, 0.9);

$secondary-font-family: 'Raleway', sans-serif;
$primary-font-family: 'Roboto', sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
